# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Node (if we use npm later)
node_modules/

# Build files
dist/
build/

# Python cache
.pytest_cache/